name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Qemu
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Docker compose build
        run: docker compose -f .docker/dev/docker-compose.dev.yml build

      - name: Docker compose up
        run: docker compose -f .docker/dev/docker-compose.dev.yml up -d

